% setdefault('napaka', '')
% rebase('base_gost.html', napaka=napaka, naslov='Gostje')

% include('orodna-vrstica.html', povezava=url('dodaj_gosta_get'), napis="Dodaj novega gosta", stolpci='[0,1,2,3]')
<table id="izpis" class="table table-hover">
  <tr>
    <th>Emšo</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Država</th>
    <th>Spol</th>
    <th>Starost</th>
    <th>Akcije</th>
  </tr>
  %for (emso, ime, priimek, drzava, spol, starost) in gosti:
  <tr>
    <td>{{emso}}</td>
    <td>{{ime}}</td>
    <td>{{priimek}}</td>
    <td>{{drzava}}</td>
    <td>{{spol}}</td>
    <td>{{starost}}</td>
    <td>
      <div class="akcije">
        <form action="{{url('brisi_gosta', emso=emso)}}" method="post" class="akcija">
          <a href="#" onclick="this.parentElement.submit()">Briši</a>
        </form>
        <form action="{{url('uredi_gosta_get', emso=emso)}}" method="get" class="akcija">
          <a href="#" onclick="this.parentElement.submit()">Uredi</a>
        </form>
        <form action="/komitent/{{emso}}/racuni" method="get" class="akcija">
          <a href="#" onclick="this.parentElement.submit()">Bivanje</a>
        </form>
      </div>
    </td>
  </tr>
  %end
</table>