% setdefault('napaka', '')
% rebase('base_gost.html', napaka=napaka, naslov='Aktivna naročila hrane')
% import datetime

% include('orodna-vrstica.html', povezava='/hrana_gost/dodaj', napis="Novo naročilo", stolpci='[0,1,2]')
<table id="izpis" class="table table-hover">
  <tr>
    <th>Številka sobe</th>
    <th>Datum</th>
    <th>Tip obroka</th>
    <th>Akcije</th>
  </tr>
  %for (id, soba_id, datum, tip_obroka) in hrana:
  <tr>
    <td>{{soba_id}}</td>
    <td>{{datum.strftime('%d.%m.%y')}}</td>
    <td>{{tip_obroka}}</td>
    <td>
      <form action="{{url('izbrisi_obrok_gost', id=id)}}" method="post" class="akcija">
        <a href="#" onclick="this.parentElement.submit()">Prekliči naročilo</a>
      </form>
    </td>
  </tr>
  %end
</table>