% setdefault('napaka', '')
% rebase('base_gost.html', napaka=napaka, naslov='Aktivna naročila hrane')
% import datetime

% include('orodna-vrstica.html', povezava='/hrana_gost/dodaj', napis="Novo naročilo", stolpci='[0,1,2,5]')
<table id="izpis" class="table table-hover">
  <tr>
    <th>Številka sobe</th>
    <th>Datum</th>
    <th>Tip obroka</th>
  </tr>
  %for (soba_id, datum, tip_obroka) in hrana:
  <tr>
    <td>{{soba_id}}</td>
    <td>{{datetime.datetime.strptime(datum, '%Y-%m-%d').strftime('%d.%m.%y')}}</td>
    <td>{{tip_obroka}}</td>
  </tr>
  %end
</table>