% setdefault('napaka', '')
% rebase('base.html', napaka=napaka, naslov='Postrežba hrane', tip_zaposlenega = tip_zaposlenega)
% import datetime

% include('orodna-vrstica.html', povezava='/hrana/dodaj', napis="", stolpci='[1,2,3,4,6,7,8,9]')
<table id="izpis" class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Naročil</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Številka sobe</th>
    <th>Datum</th>
    <th>Tip obroka</th>
    <th>Obrok pripravil</th>
    <th>Ime</th>
    <th>Priimek</th>
  </tr>
  %for (hrana_id, hrana_gost_id, gost_ime, gost_priimek, nastanitve_soba_id, hrana_datum, tip_obroka, zaposleni_emso, zaposleni_ime, zaposleni_priimek) in hrana:
  <tr>
    <td>{{hrana_id}}</td>
    <td>{{hrana_gost_id}}</td>
    <td>{{gost_ime}}</td>
    <td>{{gost_priimek}}</td>
    <td>{{nastanitve_soba_id}}</td>
    <td>{{hrana_datum.strftime('%d.%m.%y')}}</td>
    <td>{{tip_obroka}}</td>
    <td>{{zaposleni_emso}}</td>
    <td>{{zaposleni_ime}}</td>
    <td>{{zaposleni_priimek}}</td>
  </tr>
  %end
</table>