% setdefault('napaka', '')
% rebase('base.html', napaka=napaka, naslov='Postrežba hrane', tip_zaposlenega = tip_zaposlenega)
% import datetime

% include('orodna-vrstica.html', povezava='/hrana/zgodovina', napis="Zgodovina", stolpci='[1,2,3,4,5,6]')
<table id="izpis" class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Emšo</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Številka sobe</th>
    <th>Datum</th>
    <th>Tip obroka</th>
    <th>Akcije</th>
  </tr>
  %for (id, gost_id, ime, priimek, soba_id, datum, tip_obroka) in hrana:
  <tr>
    <td>{{id}}</td>
    <td>{{gost_id}}</td>
    <td>{{ime}}</td>
    <td>{{priimek}}</td>
    <td>{{soba_id}}</td>
    <td>{{datum.strftime('%d.%m.%y')}}</td>
    <td>{{tip_obroka}}</td>
    <td>
      <div class="akcije">
        <form action="{{url('postrezi', id=id)}}" method="post" class="akcija">
          <a href="#" onclick="this.parentElement.submit()">Postrezi</a>
        </form>
      </div>
    </td>
    <td>
      <div class="akcije">
        <form action="{{url('izbrisi_obrok', id=id)}}" method="post" class="akcija">
          <a href="#" onclick="this.parentElement.submit()">Izbriši naročilo</a>
        </form>
      </div>
    </td>
  </tr>
  %end
</table>