% setdefault('napaka', '')
% rebase('base.html', napaka=napaka, naslov= 'Soba ' + stevilka)

% import datetime

% include('orodna-vrstica.html', povezava='/sobe/rezerviraj/' + stevilka, napis="Dodaj novo rezervacijo", stolpci='[0,1,2,3]')
<table id="izpis" class="table table-hover">
  <tr>
    <th>Datum</th>
    <th>Emšo</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Akcije</th>
  </tr>
  %for (id, datum, gost_id, ime, priimek) in zasedena:
  <tr>
    <td>{{datetime.datetime.strptime(datum, '%Y-%m-%d').strftime('%d.%m.%y')}}</td>
    <td>{{gost_id}}</td>
    <td>{{ime}}</td>
    <td>{{priimek}}</td>
    <td>
      <div class="akcije">
        <form action="/sobe/brisi/{{id}}/{{stevilka}}" method="post" class="akcija">
          <a href="#" onclick="this.parentElement.submit()">Briši rezervacijo</a>
        </form>
        </form>
      </div>
    </td>
  </tr>
  %end
</table>