% setdefault('napaka', '')
% setdefault('naslov', 'Prijava')
% rebase('base_prijava.html', napaka=napaka, naslov=naslov)

<p>
<form action="{{url('prijava_post')}}" method="post" autocomplete="off">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="username">Uporabniško ime</label>
            <input id="username" name="username" type="text" class="form-control" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password">Geslo</label>
            <input id="password" name="password" type="password" class="form-control" required
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />
        </div>
    </div>

    <div class="form-row d-flex justify-content-start">
        <button class="btn btn-primary" type="submit">
            Prijava
        </button>
    </div>
</form></p>


<div class="form-row d-flex justify-content-start">
    <p>Še nimate računa? <a href="{{url('registracija')}}">Registracija</a>
</div>
