% setdefault('napaka', '')
% rebase('base.html', napaka=napaka, naslov='Moji podatki', tip_zaposlenega=tip_zaposlenega)

<table id="izpis" class="table table-hover">
  <tr>
    <th>Emšo</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Spol</th>
    <th>Starost</th>
    <th>Oddelek</th>
    <th>Uporabniško ime</th>
  </tr>
  %for (emso, ime, priimek, drzava, spol, starost, username, geslo) in uporabnik:
  <tr>
    <td>{{emso}}</td>
    <td>{{ime}}</td>
    <td>{{priimek}}</td>
    <td>{{drzava}}</td>
    <td>{{spol}}</td>
    <td>{{starost}}</td>
    <td>{{username}}</td>
    <td>
      <div class="akcije">
        <form action="/spremeni_geslo" method="get" class="akcija">
          <a href="#" onclick="this.parentElement.submit()">Sprememba gesla</a>
        </form>
      </div>
    </td>
  </tr>
  %end
</table>