% setdefault('napaka', '')
% rebase('base_gost.html', napaka=napaka, naslov='Rezervacije')

% include('orodna-vrstica.html', povezava='/sobe_gost/moje_rezervacije', napis="Pregled mojih rezervacij", stolpci='[0]')
<table id="izpis" class="table table-hover">
  <tr>
    <th>Številka</th>
    <th>Cena</th>
    <th>Število postelj</th>

    <th>Akcije</th>
  </tr>
  %for (stevilka, cena, postelje) in sobe:
  <tr>
    <td>{{stevilka}}</td>
    <td>{{cena}}</td>
    <td>{{postelje}}</td>
    <td>
      <div class="akcije">
        <form action="{{url('pregled_rezervacij_gost', stevilka=stevilka)}}" method="get" class="akcija">
          <a href="#" onclick="this.parentElement.submit()">Zasedenost</a>
        </form>
        <form action="{{url('rezerviraj_sobo_get_gost')}}" method="get" class="akcija">
          <a href="#" onclick="this.parentElement.submit()">Rezerviraj</a>
        </form>
      </div>
    </td>
  </tr>
  %end
</table>