% setdefault('napaka', '')
% setdefault('naslov', 'Uredi zaposlenega')
% rebase('base.html', napaka=napaka, naslov=naslov)

<form action="{{'/zaposleni/uredi/' + zaposleni[0]}}" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ime">Ime</label>
            <input id="ime" name="ime" type="text" class="form-control" required value="{{zaposleni[1]}}"
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="priimek">Priimek</label>
            <input id="priimek" name="priimek" type="text" class="form-control" required value="{{zaposleni[2]}}"
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
                <label for="spol">Spol</label> <br>
                %if zaposleni[3] == "M":
                <input type="radio" id="m" name="spol" value="M" checked>
                <label for="m">M</label><br>
                <input type="radio" id="f" name="spol" value="F">
                <label for="f">F</label><br>
                %else:
                <input type="radio" id="m" name="spol" value="M">
                <label for="m">M</label><br>
                <input type="radio" id="f" name="spol" value="F" checked>
                <label for="f">F</label><br>
                %end
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="placa">Plača</label>
            <input id="placa" name="placa" type="number" class="form-control" required value="{{zaposleni[4]}}" min="600" max="10000"
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Vnesi plačo med 600 in 10 000 evri')"
                />

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="oddelek">Oddelek</label>
            <select name="oddelek" id="oddelek">
                %if zaposleni[5] == "ciscenje":
                    <option value="ciscenje" selected="selected">Čiščenje</option>
                    <option value="recepcija">Recepcija</option>
                    <option value="kuhinja">Kuhinja</option>
                %elif zaposleni[5] == "recepcija":
                    <option value="ciscenje">Čiščenje</option>
                    <option value="recepcija" selected="selected">Recepcija</option>
                    <option value="kuhinja">Kuhinja</option>
                %else:
                    <option value="ciscenje">Čiščenje</option>
                    <option value="recepcija">Recepcija</option>
                    <option value="kuhinja" selected="selected">Kuhinja</option>
                %end
              </select>
        </div>
    </div>

    <div class="form-row d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">
            Posodobi
        </button>
    </div>
</form>
